@using NihongoSekaiWebApplication_D11_RT01.Data.ViewModels
@model LoginVM

@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
    ViewData["HideNavbar"] = false;
    ViewData["HideFooter"] = true;
}
<div class="role-page partner-style">
    Partner 💼
</div>