@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="text-center mt-5">
    <h2>Email xác nhận thành công!</h2>
    <p>Thank you for verified your email. You can close this page.</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-success">Login</a>
</div>
